<div class="container">
  <div class = "index-title">
    <h1 class="aligning">Bookings</h1>
  </div>

  <h2 class="aligning">My Booking</h2>
  <% if @bookings.empty? %>
    <div class="empty-booking-card">
      <h2>You haven't rent any animals yet.</h2>
    </div>
  <% else %>
    <% @bookings.each do |booking| %>
      <% animal = booking.animal %>
      <div class="booking-card-product">
        <%= render "animals/animal_image", animal: animal %>

        <div class="booking-card-product-infos">
          <h2><%= animal.name %></h2>
          <p><%= booking.start_date %></p>
          <p><%= booking.end_date %></p>
          <p><%= booking.total_price %>$</p>
        </div>

        <div class= "status">
          <% if booking.status == 'confirmed' %>
            <p class="text-green"><%= booking.status %></p>
          <% elsif booking.status == 'declined' %>
            <p class="text-red"><%= booking.status %></p>
          <% else %>
            <p><%= booking.status %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <h2 class="aligning">Renter Booking</h2>
  <% if @owner_bookings.empty? %>
    <div class="empty-booking-card">
      <h2>No requests for your animals yet.</h2>
    </div>
  <% else %>
    <% @owner_bookings.each do |booking| %>
      <% animal = booking.animal %>
      <div class="booking-card-product">
        <%= render "animals/animal_image", animal: animal %>

        <div class="booking-card-product-infos">
          <h2><%= animal.name %></h2>
          <p><%= booking.start_date %></p>
          <p><%= booking.end_date %></p>
          <p><%= booking.total_price %>$</p>
        </div>

        <div class= "status">
          <% if booking.status == 'pending' %>
            <div class="d-flex">
              <%= link_to "Confirm", update_booking_path(booking, booking: {status: "confirmed"}), method: :patch, class: "btn btn-success me-2" %>
              <%= link_to "Decline", update_booking_path(booking, booking: {status: "declined"}), method: :patch, class: "btn btn-danger" %>
            </div>
          <% else %>
            <% if booking.status == 'confirmed' %>
              <p class="text-green"><%= booking.status %></p>
            <% else %>
              <p class="text-red"><%= booking.status %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
