
<div class = "all-my-booking-title">
<h1>All My Bookings</h1>
</div>

<% @bookings.each do |booking| %>
  <% animal = booking.animal %>
  <div class="booking-card-product">
    <%= render "animals/animal_image", animal: animal %>
    <div class="booking-card-product-infos">
      <h2><%= animal.name %></h2>
      <p><%= booking.start_date %></p>
      <p><%= booking.end_date %></p>
      <p><%= booking.total_price %>$</p>
    </div>
    <div>
      <p><%= booking.status %></p>
    </div>
  </div>

<% end %>
