<div class="card-trip">
  <%= image_tag "ozujeanjacket.png", width: "300px" %>
  <%# cl_image_tag animal.photo.key, width: "300px" %>
  <div class="card-trip-infos">
    <div>
      <h2><%= link_to animal.name, animal_path(animal) %></h2>
      <h3><%= animal.animal_type %></h3>
      <p><%= animal.description %></p>
    </div>
    <h2 class="card-trip-pricing">$<%= animal.price %>/day</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
