<div class="profile">
  <div class="container">
    <div class="row align-items-center">
      <div class="mb-3">
        <%= link_to "⬅ All Animals", animals_path %>
      </div>

      <div class="blue-div">
        <% if @animal.photo.attached? %>
          <%= cl_image_tag @animal.photo.key, height: 600, width: 650, crop: :fill %>
        <% else %>
          <%= image_tag "unknownanimal.jpg", height: 600, width: 650, crop: :fill %>
        <% end %>
        <div class="title-page">
          <h1><%= @animal.name %></h1>
          <h2><%= @animal.animal_type %></h2>
          <br>
          <p><%= @animal.description %></p>
          <br>
          <p>$<%= @animal.price %>/day</p>
        </div>
      </div>

      <% if current_user != @animal.user%>
        <%= link_to "Book Now", new_animal_booking_path(@animal), class: "btn btn-lightblue col-6" %>
      <% else %>
        <div>
          <h1> Edit Your Animal </h1>
          <%= simple_form_for @animal, url: update_animal_path, method: :patch do |f| %>
            <%= f.input :name %>
            <%= f.input :animal_type %>
            <%= f.input :price %>
            <%= f.input :description %>
            <%= f.input :photo, as: :file %>
            <%= f.button :submit %>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
