<div class="container">
  <div class="row">
    <div class="mb-3">
      <%= link_to "⬅ All Animals", animals_path %>
    </div>
    <div>
      <%= cl_image_tag @animal.photo.key, height: 300, width: 400, crop: :fill %>
      <h1><%= @animal.name %></h1>
      <h2><%= @animal.animal_type %></h2>

      <p><%= @animal.description %></p>

    </div>
    <%= link_to "Book Now", new_animal_booking_path(@animal), class: "btn btn-lightblue" %>
  </div>
</div>
